<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="d7ed6b61-b2db-4b98-8553-a184daf70a4b"
    Publisher="CN=shane"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d7ed6b61-b2db-4b98-8553-a184daf70a4b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>XamarinTV.UWP</DisplayName>
    <PublisherDisplayName>shane</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="XamarinTV.UWP.App">
      <uap:VisualElements
        DisplayName="XamarinTV"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="XamarinTV.UWP"
        BackgroundColor="#000000">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="XamarinTV">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#000000"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
  </Capabilities>
</Package>